@model IEnumerable<Product>


@if (Model.Count() > 0)
{
    <div class="post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) menu-restaurant">

        <h2 class="text-black font-weight-bold" style="font-family: 'Verdana, Geneva, sans-serif';">
            @Model.FirstOrDefault().Category.Name
        </h2>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card m-3 bg-light" style="min-width: 18rem; max-width:30.4%;">
                    <div class="card-header">
                        <h3>@item.Name</h3>
                    </div>

                    <div class="card-body text-center">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/images/products/@item.Image" class="img-fluid" width="200" height="200" />
                        </a>
                    </div>

                    <div class="card-footer text-center">
                        <h4 class="font-italic">@item.Price.ToString("C2")</h4>

                        <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"
                           class="btn btn-info">Details</a>
                    </div>
                </div>
            }
            </div>
    </div>
}
